.grid {
  display: grid;
  grid-template-columns: 100%;
  gap: 24px;

  @media screen and (min-width: 768px) {
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
    > main {
      grid-column: 2/5;
    }
  }
}
