.netlify
.env
build 
storybook-static
envs/client/.dev.preview-server.env
envs/server
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/node_modules_t
/.pnp
.pnp.js

/envs/server

# testing
/coverage



# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.vscode

npm-debug.log*
yarn-debug.log*
yarn-error.log*

TODO
NOTES
