useDotenv: true

custom:
  serverless-offline:
    httpPort: 8888
    corsAllowHeaders: "*"

plugins:
  - serverless-offline
service: serverless-graphql
provider:
  name: aws
  runtime: nodejs12.x
  environment:
    LOCAL: true

functions:
  graphql:
    handler: api/functions/graphql/index.handler
    events:
      - http:
          path: graphql
          method: post
      - http:
          path: graphql
          method: get

  # Auth Functions
  # ----------------------------
  get-login-url:
    handler: api/functions/get-login-url/get-login-url.handler
    events:
      - http:
          path: get-login-url
          method: get

  login:
    handler: api/functions/login/login.handler
    events:
      - http:
          path: login
          method: get

  logout:
    handler: api/functions/logout/logout.handler
    events:
      - http:
          path: logout
          method: get

  is-logged-in:
    handler: api/functions/is-logged-in/is-logged-in.handler
    events:
      - http:
          path: is-logged-in
          method: get

  request-otp:
    handler: api/functions/request-otp/request-otp.handler
    events:
      - http:
          path: request-otp
          method: post

  login-otp:
    handler: api/functions/login-otp/login-otp.handler
    events:
      - http:
          path: login-otp
          method: post

  link-email:
    handler: api/functions/link-email/link-email.handler
    events:
      - http:
          path: link-email
          method: post

  # Nostr-Related Functions
  # ----------------------------
  nostr-sign-event:
    handler: api/functions/nostr-sign-event/nostr-sign-event.handler
    events:
      - http:
          path: nostr-sign-event
          method: post

  nostr-confirm-event:
    handler: api/functions/nostr-confirm-event/nostr-confirm-event.handler
    events:
      - http:
          path: nostr-confirm-event
          method: post

  nostr-events-extra-data:
    handler: api/functions/nostr-events-extra-data/nostr-events-extra-data.handler
    events:
      - http:
          path: nostr-events-extra-data
          method: post

  pubkeys-to-users:
    handler: api/functions/pubkeys-to-users/pubkeys-to-users.handler
    events:
      - http:
          path: pubkeys-to-users
          method: post

  # Users Actions (Badges Related)
  # -----------------------------
  register-user-action:
    handler: api/functions/register-user-action-background/register-user-action-background.handler
    events:
      - http:
          path: register-user-action
          method: post

  process-pending-users-actions:
    handler: api/functions/process-pending-users-actions-background/process-pending-users-actions-background.handler
    events:
      - http:
          path: process-pending-users-actions
          method: post

  # Misc
  # ----------------------------
  on-job-success:
    handler: api/functions/on-job-success/on-job-success.handler
    events:
      - http:
          path: on-job-success
          method: post

  upload-image-url:
    handler: api/functions/upload-image-url/upload-image-url.handler
    events:
      - http:
          path: upload-image-url
          method: post

  test-something:
    handler: api/functions/test-something/test-something.handler
    events:
      - http:
          path: test-something
          method: post
