.grid {
  display: grid;
  grid-template-columns: 100%;
  gap: 24px;
  grid-template-areas: "main";

  > aside:first-of-type {
    display: flex;
    flex-direction: column;
    gap: 24px;
    grid-area: aside1;
  }
  > main {
    display: flex;
    flex-direction: column;
    gap: 48px;
    grid-area: main;
  }
  > aside:last-of-type {
    display: flex;
    flex-direction: column;
    gap: 24px;
    grid-area: aside2;
  }

  @media screen and (min-width: 768px) {
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas: "aside1 main aside2";
  }
}
