/* width */
.search-results::-webkit-scrollbar {
  width: 4px;
}

/* Track */
.search-results::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
.search-results::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #aaa;
}

/* Handle on hover */
.search-results::-webkit-scrollbar-thumb:hover {
  background-color: #999;
}
