@import "/src/styles/mixins";

.header {
  padding: 56px 0;
  min-height: calc(min(1080px, 90vh));
  background: #ffecf9;
  background: linear-gradient(40deg, white 7%, #ffdadaa3 62%, #d0f6ff5c 96%);
  background-size: 120% 120%;

  animation: Animation 3s ease infinite;
  display: grid;
  grid-template-areas: ". content .";
  grid-template-columns: minmax(16px, 1fr) minmax(auto, 910px) minmax(16px, 1fr);

  & > div {
    grid-area: content;
  }
}

@keyframes Animation {
  0% {
    background-position: 0% 20%;
  }
  50% {
    background-position: 20% 0%;
  }
  100% {
    background-position: 0% 20%;
  }
}
