// .grid {
//   display: grid;
//   grid-template-columns: 100%;
//   gap: 24px;
//   > aside:last-of-type {
//     display: none;
//   }

//   @media screen and (min-width: 768px) {
//     grid-template-columns: repeat(4, 1fr);

//     > aside:first-of-type {
//       grid-column: 1/2;
//     }
//     > main {
//       grid-column: 2/-1;
//     }
//   }

//   @media screen and (min-width: 1024px) {
//     > aside:first-of-type {
//       grid-column: 1/2;
//     }
//     > main {
//       grid-column: 2/-2;
//     }
//     > aside:last-of-type {
//       display: block;
//       grid-column: -1/-2;
//     }
//   }
// }

@import "/src/styles/mixins";

.grid {
  display: grid;
  //   grid-template-columns: 1fr;
  gap: 16px;

  & > * {
    min-width: 0;
  }

  grid-template-areas:
    "title"
    "categories"
    "sort-by"
    "content";

  :global {
    #title {
      grid-area: title;
    }

    #sort-by {
      grid-area: sort-by;
    }
    #categories {
      grid-area: categories;
    }
    #content {
      grid-area: content;
    }
    #side {
      grid-area: side;
      display: none;
    }
  }

  @media screen and (min-width: 768px) {
    gap: 32px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto auto 1fr;

    grid-template-areas: "categories content content side";

    :global {
      #side {
        display: block;
      }
    }
  }

  // @media screen and (min-width: 1024px) {
  //   > aside:first-of-type {
  //     grid-column: 1/2;
  //   }
  //   > main {
  //     grid-column: 2/-2;
  //   }
  //   > aside:last-of-type {
  //     display: block;
  //     grid-column: -1/-2;
  //   }
  // }

  // @include gt-md {
  //   grid-template-columns: auto 1fr;
  //   grid-template-areas:
  //     "actions content"
  //     ". author"
  //     ". comments";
  // }

  // @include gt-lg {
  //   grid-template-columns: auto 1fr calc(min(30%, 326px));
  //   grid-template-areas:
  //     "actions content author"
  //     ". comments ."
  //     ". . .";
  // }
}

.tag_desc {
  a {
    text-decoration: underline;
  }
}
