@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600;700&family=Inter:wght@400;500;600;700&display=swap");
@import './tw.scss',"./shared.scss",'./vendors.scss';


body {
  overflow-x: hidden;
  /* background-color: #F8FAFC; */
}

.page-container {
  width: 98%;
  margin: 0 auto;
  max-width: 1440px;
}

svg {
  display: inline-block;
}

/* width */
::-webkit-scrollbar {
  width: 4px;
}

@media screen and (min-width: 668px) {
  /* width */
  ::-webkit-scrollbar {
    width: 12px;
  }
}

/* Track */
::-webkit-scrollbar-track {
  background: #ddd;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #aaa;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #999;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.no-scrollbar {
  -ms-overflow-style: none;
  /* Internet Explorer 10+ */
  scrollbar-width: none;
  /* Firefox */
}

.no-scrollbar ::-webkit-scrollbar {
  display: none;
  /* Safari and Chrome */
}
@media (pointer: coarse) {
  .touch-device\:hidden {
    display: none;
  }
}

