@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600;700&family=Inter:wght@400;500;600;700&display=swap");

$screen-xs-min: 320px;

@import "./tw.scss", "./shared.scss", "./vendors.scss", "./scrollbar.scss",
  "./ui_state.scss";
@import "/src/styles/mixins/index.scss";

html {
  scrollbar-gutter: stable;
}

body {
  overflow-x: hidden;
  background-color: #f9fafb;
}

.content-container,
.page-container {
  --padding: 16px;

  @include gt-sm {
    --padding: 24px;
  }

  @include gt-md {
    --padding: 32px;
  }

  display: grid;
  grid-template-columns:
    minmax(var(--padding), 1fr) minmax(auto, var(--maxPageWidth, 1440px))
    minmax(var(--padding), 1fr);

  > * {
    grid-column: 2/3;
    min-width: 0;
  }

  > .fill-container {
    grid-column: 1/-1;
  }
}

.page-container {
  padding: 32px 0;
}

svg {
  display: inline-block;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
