@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600;700&family=Inter:wght@400;500;600;700&display=swap");
@import "mixins";

$screen-xs-min: 320px;

@import "./tw.scss", "./shared.scss", "./vendors.scss", "./scrollbar.scss";

body {
  overflow-x: hidden;
  background-color: #f8fafc;
}

.page-container {
  width: calc(min(100% - 32px, 1440px));
  margin: 0 auto;
}

@media screen and (min-width: 780px) {
  .page-container {
    width: calc(min(100% - 64px, 1440px));
    margin: 0 auto;
  }
}

svg {
  display: inline-block;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
