/* width */
::-webkit-scrollbar {
  width: 4px;
}

@media screen and (min-width: 668px) {
  /* width */
  ::-webkit-scrollbar {
    width: 12px;
  }
}

/* Track */
::-webkit-scrollbar-track {
  background: #e5e5e5;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #c8c8c8;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #aaaaaa;
}

.no-scrollbar {
  -ms-overflow-style: none;
  /* Internet Explorer 10+ */
  scrollbar-width: none;
  /* Firefox */
  & * {
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
    scrollbar-width: none;
    /* Firefox */
  }

  &::-webkit-scrollbar,
  & ::-webkit-scrollbar {
    display: none;
  }
}

@media (pointer: coarse) {
  .touch-device\:hidden {
    display: none;
  }
}
