.input-removed-arrows::-webkit-outer-spin-button,
.input-removed-arrows::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.input-removed-arrows[type="number"] {
  -moz-appearance: textfield;
}

button[disabled] {
  opacity: 0.8;
  pointer-events: none;
}

.sticky-side-element {
  position: sticky;
  top: calc(var(--navHeight) + 16px);
  max-height: calc(100vh - var(--navHeight) - 16px);
}

.sticky-top-element {
  position: sticky;
  top: calc(var(--navHeight));
}
