@import "/src/styles/mixins";

.faq {
  padding: 40px 0;
  display: grid;
  grid-template-areas: ". content .";
  grid-template-columns: minmax(16px, 1fr) minmax(auto, 910px) minmax(16px, 1fr);

  & > div {
    grid-area: content;
  }

  @include gt-md {
    padding: 80px 0;
  }
}
