.body :where(h1, h2, h3, h4, h5, h6) {
  font-weight: 700;
}

.body h1 {
  font-size: 48px;
  line-height: 54px;
  margin-bottom: min(0.5em);
}
.body h2 {
  font-size: 36px;
  line-height: 50px;
  margin-bottom: min(0.5em);
}
.body h3 {
  font-size: 29px;
  line-height: 40px;
  margin-bottom: min(0.5em);
}
.body h4 {
  font-size: 22px;
  line-height: 31px;
  margin-bottom: min(0.5em);
}
.body h5 {
  font-size: 19px;
  line-height: 26px;
  margin-bottom: min(0.5em);
}

.body p,
.body ul {
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 1.5em;
}

.body a {
  color: rgb(107, 107, 249);
}
.body a:hover {
  text-decoration: underline;
}

.body pre {
  background-color: #2b2b2b;
  padding: 16px;
  border-radius: 12px;
  color: whitesmoke;
}

.body iframe {
  width: min(100%, 640px);
  aspect-ratio: 16/9;
  margin: 36px auto;
}
