.grid {
  display: grid;
  grid-template-columns: 100%;
  gap: 24px;

  @media screen and (min-width: 768px) {
    grid-template-columns: 1fr 3fr 0;
    gap: 24px;
  }

  @media screen and (min-width: 1024px) {
    grid-template-columns: 1fr 2fr 1fr;
  }
}
