@import "/src/styles/mixins/index.scss";

.grid {
  --gap: 32px;
  display: grid;
  grid-template-columns: 1fr;

  column-gap: var(--gap);
  row-gap: var(--gap);

  & > * {
    min-width: 0;
  }

  grid-template-areas:
    "errors"
    "preview-switch"
    "form"
    "drafts";

  :global {
    #preview-switch {
      grid-area: preview-switch;
    }
    #form {
      grid-area: form;
    }
    #errors {
      grid-area: errors;
    }
    #drafts {
      grid-area: drafts;
    }
  }

  @include gt-xl {
    row-gap: unset;
    grid-template-rows: repeat(3, auto) 1fr;
    grid-template-columns: 1fr calc(min(326px, 25%));
    grid-template-areas:
      "preview-switch preview-switch"
      "form errors"
      "form drafts"
      "form .";

    :global {
      #preview-switch {
        margin-bottom: var(--gap);
      }
      #errors {
        margin-bottom: var(--gap);
      }
    }
  }
}
