.grow-wrap textarea {
  height: calc(min(60vh, 640px));
  overflow-y: scroll;
  resize: none;
  border: none;
  font-family: monospace;

  &::-webkit-scrollbar {
    width: 4px;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #c8c8c8;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background-color: #aaaaaa;
  }

  &:focus {
    outline: none;
    border: none;
    box-shadow: none;
  }
}
