@import "/src/styles/mixins";

@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");

.grid {
  font-family: "Luckiest Guy", cursive;
  display: grid;
  gap: 24px;
  > div {
    display: flex;
    align-items: center;
    h3 {
      font-size: 20px;
      color: white;
      -webkit-text-stroke: 2px black;
    }
    p {
      font-size: 24px;
    }

    &:first-child {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;

      img {
        max-width: 100px;
      }
      h3 {
        font-size: 24px;
        margin: 40px auto 0 auto;
      }
      p {
        font-size: 40px;
      }
    }

    &:not(:first-child) {
      justify-content: space-between;
      text-align: right;
      img {
        max-width: 42px;
      }
    }
  }

  grid-auto-rows: 120px;
  grid-template-columns: 1fr;

  > div:first-child {
    grid-row: span 3;
  }

  @include gt-md {
    grid-auto-rows: 150px;
    grid-template-columns: 1fr 1fr;

    > div {
      h3 {
        font-size: 32px;
      }
      p {
        font-size: 40px;
      }

      &:first-child {
        grid-row: 1/4;
        grid-column: 1/2;
        img {
          max-width: 160px;
        }
        h3 {
          font-size: 32px;
          margin: 24px auto 24px auto;
        }
        p {
          font-size: 56px;
        }
      }
      &:not(:first-child) {
        img {
          max-width: 64px;
        }
      }
    }
  }
}
