.wrapper {
    
    :global{

        .ProseMirror {
            overflow: hidden;
            border-bottom-left-radius: inherit;
            border-bottom-right-radius: inherit;
            min-height: var(--rmr-space-5);


            a{
                color: rgb(54, 139, 236);

                &:hover{
                    text-decoration: underline;
                    cursor: pointer;
                }
            }
        }
        
        .ProseMirror,
        .ProseMirror:active,
        .ProseMirror:focus{
            box-shadow: none;
        }
    }

}