.wrapper {
    
    :global{

        .ProseMirror {
            overflow: hidden;
            border-bottom-left-radius: inherit;
            border-bottom-right-radius: inherit;
        }
        
        .ProseMirror,
        .ProseMirror:active,
        .ProseMirror:focus{
            box-shadow: none;
        }
    }

}