@import "/src/styles/mixins/index.scss";

.wrapper {
  :global {
    .ProseMirror {
      overflow: hidden;
      border-bottom-left-radius: inherit;
      border-bottom-right-radius: inherit;
      min-height: var(--rmr-space-7);

      @include post-body;

      a {
        color: rgb(54, 139, 236);

        &:hover {
          text-decoration: underline;
          cursor: pointer;
        }
      }
    }
    .remirror-editor-wrapper {
      height: 60vh;
      overflow-y: scroll;

      &::-webkit-scrollbar {
        width: 8px;
      }
    }

    .ProseMirror,
    .ProseMirror:active,
    .ProseMirror:focus {
      box-shadow: none;
    }
  }
}
