@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600;700&family=Inter:wght@400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    @apply text-gray-900 px-42 bg-gray-25 hover:bg-gray-100 py-12  font-sans rounded-8 shadow-md font-regular;
  }

  .btn-primary {
    @apply bg-primary-500 hover:bg-primary-400 text-white;
  }

  .btn-gray {
    @apply bg-gray-200 hover:bg-gray-100 text-gray-900;
  }

  .chip {
    @apply bg-gray-100 text-body4 px-16 py-8 rounded-24  font-regular;
  }
  .chip-small {
    @apply bg-gray-100 text-body5 px-12 py-8 rounded-16 font-regular;
  }

  .modal-card {
    @apply rounded-[40px] bg-gray-50 overflow-y-scroll w-full max-w-[600px] shadow-xl z-10;
  }
}

body {
  overflow-x: hidden;
}

svg {
  display: inline-block;
}

/* width */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #aaa;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #999;
}

.no-scrollbar {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

.no-scrollbar ::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}
